<div class="">
  <div class="aboutSection">
    <div class="aboutText">
      <ul class="infoList">
        <li ng-mouseenter="developerShow=true" ng-mouseleave="developerShow=false" class="eachInfo">Developer</li>
        <li ng-mouseenter="travelerShow=true" ng-mouseleave="travelerShow=false"class="eachInfo">Traveler</li>
        <li ng-mouseenter="nativeShow=true" ng-mouseleave="nativeShow=false"class="eachInfo">Colorado Native</li>
        <li ng-mouseenter="sportsShow=true" ng-mouseleave="sportsShow=false"class="eachInfo">Sports Fanatic</li>
        <li ng-mouseenter="outdoorShow=true" transition-delay:"500" ng-mouseleave="outdoorShow=false"class="eachInfo">Outdoor Enthusiast</li>
      </ul>
    </div>
      <img class="aboutImg" ng-hide="developerShow || travelerShow || nativeShow || sportsShow || outdoorShow" src="media/DSC_3279.jpg" alt="Maroon Bells" />
  </div>
  <div class="textBoxes">
    <div ng-show ="developerShow" class="developerSection">
      <div class="developerIcons">
        <img src="media/angular-icon.svg" alt="AngularJS" />
        <img src="media/swift-icon.png" alt="Swift" />
        <img src="media/html-icon.png" alt="HTML" />
        <img src="media/css-icon.png" alt="CSS" />
      </div>
      <div class="developerParagraph">
        <p>
          In January 2017 I was fortunate enough to be given the opportunity to change my career path and learn web development. I am fascinated by the process of creating with code and learning new languages and techniques in a field that is continuously changing and evolving.
        </p>
      </div>
    </div>
    <div ng-show ="travelerShow" class="travelerSection">
      <div class="travelerIcons">
        <img src="media/globe-black.svg" alt="Globe" />
        <img src="media/airplane.jpg" alt="Airplane" />
        <img src="media/camera.png" alt="Camera" />
      </div>
      <div class="travelerParagraph">
        <p>
          Wanderlust: A strong desire to travel.<br>14 countries and most of the U.S. My favorites have been Ireland, Spain, and Kenya, and I also studied abroad in Australia. I would much rather see what a country is really like, eat the real food, and meet locals than do any of the tourist stuff. There are still so many places I need to see and so many passport stamps I need to collect.
        </p>
      </div>
    </div>
    <div ng-show ="nativeShow" class="nativeSection">
      <div class="nativeIcons">
        <img src="media/colorado.png" alt="Colorado" />
        <img src="media/mountain-icon.png" alt="Mountains" />
        <img src="media/beer.png" alt="Beer" />
      </div>
      <div class="nativeParagraph">
        <p>
          Born and raised in Denver, Colorado.<br>All four seasons, mountains, great sports, perfect weather, breweries, restaurants, and the best music venue in the nation.
        </p>
      </div>
    </div>
    <div ng-show ="sportsShow" class="sportsSection">
      <div class="sportsIcons">
        <img src="media/broncos.jpeg" alt="Broncos" />
        <img src="media/avalanche.jpg" alt="Avalanche" />
        <img src="media/rockies.jpg" alt="Rockies" />
        <img src="media/nuggets.gif" alt="Nuggets" />
        <img src="media/rapids.jpg" alt="Rapids" />
      </div>
      <div class="sportsParagraph">
        <p>
          All of the Colorado teams.<br>Die-hard Broncos and Avalanche fan and love for the Rockies, Nuggets, and Rapids. I'm passionate about watching and playing just about any sport.
        </p>
      </div>
    </div>
    <div ng-show ="outdoorShow" class="outdoorSection">
      <div class="outdoorIcons">
        <img src="media/fire-icon.png" alt="Camp Fire" />
        <img src="media/snowboarder2.png" alt="Snowboarding" />
        <img src="media/biking.svg" alt="Biking" />
        <img src="media/boats-icon.png" alt="Boating" />
        <img src="media/hiking-icon.png" alt="Hiking" />
      </div>
      <div class="outdoorParagraph">
        <p>
          Colorado<br>
          Camping, snowboarding, biking, boating, and just getting to the mountains whenever I can.
        </p>
      </div>
    </div>
  </div>
</div>
