<div class="">
  <div class="aboutSection">
    <div class="aboutText">
      <ul class="infoList">
        <li class="eachInfo">Developer</li>
        <li class="eachInfo">Traveler</li>
        <li class="eachInfo">Colorado Native</li>
        <li class="eachInfo">Sports Fanatic</li>
        <li class="eachInfo">Outdoor Enthusiast</li>
      </ul>
    </div>
      <img class="aboutImg" src="media/DSC_3279.jpg" alt="Maroon Bells" />
  </div>
    <div ng-hide ="true" class="developerSection">
      <p>
        This is going to be the section about me as a Developer
      </p>
    </div>
    <div ng-hide ="true" class="travelerSection">
      <p>
        This is where I will talk about how I like to travel and stuff like that
      </p>
    </div>
    <div ng-hide ="true" class="nativeSection">
      <p>
        This is where I mention that I am from Denver, Colorado
      </p>
    </div>
    <div ng-hide ="true" class="sportsSection">
      <p>
        This is where I will talk about how awesome the Broncos and the Avalanche are, and the other teams too
      </p>
    </div>
    <div ng-hide ="true" class="outdoorSection">
      <p>
        This is where I will talk about how much I love camping and boating and being outside because the weather here is awesome
      </p>
    </div>
</div>
