<div class="">
  <div class="aboutSection">
    <div class="aboutText">
      <ul class="infoList">
        <li ng-mouseenter="developerShow=true" ng-mouseleave="developerShow=false" class="eachInfo">Developer</li>
        <li ng-mouseenter="travelerShow=true" ng-mouseleave="travelerShow=false"class="eachInfo">Traveler</li>
        <li ng-mouseenter="nativeShow=true" ng-mouseleave="nativeShow=false"class="eachInfo">Colorado Native</li>
        <li ng-mouseenter="sportsShow=true" ng-mouseleave="sportsShow=false"class="eachInfo">Sports Fanatic</li>
        <li ng-mouseenter="outdoorShow=true" transition-delay:"500" ng-mouseleave="outdoorShow=false"class="eachInfo">Outdoor Enthusiast</li>
      </ul>
    </div>
      <img class="aboutImg" ng-hide="developerShow || travelerShow || nativeShow || sportsShow || outdoorShow" src="media/DSC_3279.jpg" alt="Maroon Bells" />
  </div>
  <div class="textBoxes">
    <div ng-show ="developerShow" class="developerSection">
      <p>
        In January 2017 I was fortunate enough to be given the opportunity to change my career path and learn web development. I am fascinated by the process of creating with code and learning new languages and techniques in a field that is continuously changing and evolving.
      </p>
    </div>
    <div ng-show ="travelerShow" class="travelerSection">
      <p>
        Wanderlust: A strong desire to travel.<br>14 countries and most of the U.S. My favorites have been Ireland, Spain, and Kenya, and I also studied abroad in Australia. I would much rather see what a country is really like, eat the real food, and meet locals than do any of the tourist stuff. There are still so many places I need to see and so many passport stamps I need to collect.
      </p>
    </div>
    <div ng-show ="nativeShow" class="nativeSection">
      <p>
        Born and raised in Denver, Colorado.<br>All four seasons, mountains, great sports, perfect weather, breweries, restaurants, and the best music venue in the nation.
      </p>
    </div>
    <div ng-show ="sportsShow" class="sportsSection">
      <p>
        All of the Colorado teams.<br>Die-hard Broncos and Avalanche fan and love for the Rockies, Nuggets, and Rapids. I'm passionate about watching and playing just about any sport.
      </p>
    </div>
    <div ng-show ="outdoorShow" class="outdoorSection">
      <p>
        Colorado<br>
        Camping, snowboarding, biking, boating, hiking.
      </p>
    </div>
  </div>
</div>
