<div class="homeSection">
    <div class="homeTitleSquare">
      <h1 class="homeName">Ryan Phillips</h1>
      <h2 class="homeTitle">Web Developer</h2>
    </div>
    <div class="locationTitle">
      <h3 class="locationName">Denver, Colorado</h3>
    </div>
  <div class="">
    <div class="titleIcons">
      <a href="https://www.linkedin.com/in/ryanophillips/">
        <img class="linkedIn" src="media/linkedin.png" alt="LinkedIn" />
      </a>
      <a href="https://github.com/RyanOPhillips">
        <img class="gitHub" src="media/github.png" alt="GitHub" />
      </a>
      <a href="https://www.instagram.com/travelinghoody/?hl=en">
        <img class="instagram" src="media/instagram-white.png" alt="Instagram" />
      </a>
    </div>
  </div>
</div>
