.aboutSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutSection > .aboutText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.aboutSection > .aboutImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 580px;
  margin-top: 20px;
}

@media screen and (max-width: 600px){
  .aboutSection > .aboutImg {
    width: 400px;
    height: 200px;
  }

  @media screen and (max-width: 600px){
    .aboutSection > .aboutText{
      flex-direction: column;
      font-size: 20px;
      width: 400px;
  }
