.mainNav{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  position: fixed;
  z-index: 20;
  background-color: #fff;
  width: 100vw;
}

.mainNav > ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
}

.mainNav > ul > li{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
  font-family: 'Architects Daughter', cursive;
  cursor: pointer;
}

.active{
  color: rgb(65, 193, 244);
}


@media screen and (max-width: 600px){
  .mainNav > ul{
    flex-direction: column;
  }
}
